#grid{
  max-width: 800px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1em;

}

#ascii-table{
  font-family: monospace;
  border: solid 1px black;
  border-collapse: collapse;
}
td.ctrl, td.ext{
  text-align: center;
}

.result{
  font-family: monospace;
}

.ctrl{
  color: red;
}
.num{
  color: orange;
}
.upper{
  color: green;
}
.lower{
  color: blue;
}
.ext{
  color: purple;
}
.highlight{
  background-color: #eee;
}
